/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*    font-family: Helvetica, sans-serif;*/
/*    font-weight: bold;*/
/*}*/
/*.nav-bar-items {*/
/*    width: 100%;*/
/*    border: 1px solid black;*/
/*    background-color: #848487;*/
/*}*/
/*ul {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    list-style: none;*/
/*}*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
ul {
    list-style: none;
    padding: 1em;
    margin: 0;
    display: flex;
}
nav {
    background: #BDBDBD;
    display: flex;
}
a {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.nav-menu {
    display: flex;
}
nav a {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, sans-serif;
}
.nav-bar-items {
    display: flex;
    font-weight: normal;
    font-size: 10px;

    margin-right: 2em;

}
.follow-us-nav {
    text-decoration: yellow;
}